<h1>Cadastro de Preferências</h1>
<form method="POST">
    Nome: <input type="text" name="nome" required><br>
    Gênero favorito:
    <select name="genero">
    <option value="acao">Ação</option>
    <option value="comedia">Comédia</option>
    <option value="drama">Drama</option>
    <option value="ficcao">Ficção</option>
    <option value="terror">Terror</option>
    </select><br>
    Receber notificações por e-mail?
    <input type="checkbox" name="notificacoes"><br>
    <button type="submit">Salvar</button>
</form>
